/* 

COMPANY:          SIGMA RD/ ENCLOUD SOFTWARE
TASK:             DIFFERENT KINDS OF TABLE COLORS
DESIGNER:         PATRICIA ROLDA

*/


* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* HEADER */

header, footer {
    width: 100%;
    height: 70px;
    background: #1B1B1B;
    margin-bottom: 50px;
}

footer {
    margin-top: 3em;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.33%;
    
}

.show {
    display: block;
  }



p.header-logo {
    font-size: 30px;
    float: left;
    line-height: 12px;
    color: #FFF;
    margin: 26px 0px 20px 25px;
}


.container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

h1, h2, h3,  h4 {
    /* text-align: center; */
}

ul {
    text-align:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    width: 22%;
    height: 60px;
    
}

li.list {
    display: inline;
    border: 1px solid #ddd;
    text-decoration: none;
    padding: 2% 0 ;
    margin: 15px;
    cursor: pointer;
}

li.list:hover {
    background-color: black;
    color: white;
}


table {
    border-collapse: collapse;
    width: 75%;
    margin: 0 25%;
    font-size: 12px;
    float: right;
}


/* BASIC BLUE */
th.th-blue1, td.td-blue1 {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    cursor: pointer;
    height: 35px;
}


th.th-blue1 {
    background-color: #1A5276;
    color: #ffffff;
}

td.td-blue1 {
    transition:transform .2s;
}
td.td-blue1:hover {
    color: #1A5276;
    font-size: 14px;
    background-color: #F1F1F1;
}

/* LIGHT BLUE */
th.th-blue2, td.td-blue2 {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    cursor: pointer;
    height: 35px;
}


th.th-blue2 {
    background-color: #2F90D5;
    color: #ffffff;
}

td.td-blue2 {
    transition:transform .2s;
}
td.td-blue2:hover {
    color: #1A5276;
    font-size: 14px;
    background-color: #F1F1F1;
}

/* NAVY BLUE WITH LIGHT BLUE HOVER */
th.th-blue3, td.td-blue3 {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    cursor: pointer;
    height: 35px;
}

th.th-blue3 {
    background-color: #1A5276;
    /* color: #A6CBF0; */
    color: #F1F1F1;
}

tr.tr-blue3:hover {
    background-color: #A6CBF0;
    font-size: 14px;
}



/* NAVY BLUE AND DARK BORDER */
th.th-blue4, td.td-blue4 {
    padding: 8px;
    text-align: left;
    border: 1px solid #202833;
    cursor: pointer;
    height: 35px;
}

th.th-blue4 {
    background-color: #1A5276;
    color: #f5f5f5;
}

tr.tr-blue4:hover {
    background-color: #A6CBF0;
    font-size: 14px;
}


/* ROYAL BLUE - YELLOW SPLASH */
th.th-blue6, td.td-blue6 {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    cursor: pointer;
    height: 35px;
}


th.th-blue6 {
    background-color: #10214C;
    color: #ffffff;
}

td.td-blue6 {
    transition:transform .2s;
}
td.td-blue6:hover {
    color: #1A5276;
    font-size: 14px;
    /* background-color: #A6CBF0; */
    background-color: #F7DFB0;
}


/* BASIC RED */
th.th-red1, td.td-red1 {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    cursor: pointer;
    height: 35px;
}


th.th-red1 {
    background-color: #940011;
    color: #ffffff;
}

td.td-red1:hover {
    color: #940011;
    font-size: 14px;
    background-color: #F4EFEC;
}


/* BURGUNDY */
th.th-red2, td.td-red2 {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    cursor: pointer;
    height: 35px;
}


th.th-red2 {
    background-color: #5A001C;
    color: #ffffff;
}

td.td-red2:hover {
    color: #97174E;
    font-size: 14px;
    background-color: #DCDBD7;
}


/* VENETIAN RED */
th.th-red3, td.td-red3 {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    cursor: pointer;
    height: 35px;
}

th.th-red3 {
    background-color: #B50121;
    /* color: #A6CBF0; */
    color: #F1F1F1;
}

tr.tr-red3:hover {
    background-color: #E0D3C4;
    font-size: 14px;
}






/* BRIGHT RED */
th.th-red5, td.td-red5 {
    padding: 8px;
    text-align: left;
    border: 1px solid #D67B80;
    cursor: pointer;
    height: 35px;
}

th.th-red5 {
    background-color: #A31E28;
    color: #ffffff;
}

td.td-red5 {
    transition:transform .2s;
}
td.td-red5:hover {
    color: #1A5276;
    font-size: 14px;
    background-color: #F4EFEC;
}


/* TRINIDAD ORANGE */
th.th-red4, td.td-red4 {
    padding: 8px;
    text-align: left;
    border: 1px solid #343121;
    cursor: pointer;
    height: 35px;
}

th.th-red4 {
    background-color: #CD4928;
    color: #f5f5f5;
}

tr.tr-red4:hover {
    background-color: #E3CEC9;
    font-size: 14px;
}

/* BASIC ORANGE */
th.th-orange1, td.td-orange1 {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    cursor: pointer;
    height: 35px;
}


th.th-orange1 {
    background-color: #F73600;
    color: #ffffff;
}

td.td-orange1 {
    transition:transform .2s;
}
td.td-orange1:hover {
    color: #511800;
    font-size: 14px;
    background-color: #F1F1F1;
}




/* CARROT ORANGE */
th.th-orange3, td.td-orange3 {
    padding: 8px;
    text-align: left;
    border: 1px solid #D7C2A2;
    cursor: pointer;
    height: 35px;
}

th.th-orange3 {
    background-color: #EF8520;
    /* color: #A6CBF0; */
    color: #F1F1F1;
}

tr.tr-orange3:hover {
    background-color: #f5bb0ea1;
    font-size: 14px;
}

/* LIGHT ORANGE */
th.th-orange4, td.td-orange4 {
    padding: 8px;
    text-align: left;
    border: 1px solid #F5B237;
    cursor: pointer;
    height: 35px;
}

th.th-orange4 {
    background-color: #F76B3F;
    color: #f5f5f5;
}

tr.tr-orange4:hover {
    background-color: #E3E0CF;
    color: #1C3A55;
    font-size: 14px;
}

/* TSPICY RED ORANGE */
th.th-orange5, td.td-orange5 {
    padding: 8px;
    text-align: left;
    border: 1px solid #F7A801;
    cursor: pointer;
    height: 35px;
}


th.th-orange5 {
    background-color: #E74222;
    color: #ffffff;
}

td.td-orange5:hover {
    color: #141B25;
    font-size: 14px;
    background-color: #e743225e;
}


/* BLACK AND YELLOW */
th.th-yellow1, td.td-yellow1 {
    padding: 8px;
    text-align: left;
    border: 1px solid #0F181F;
    cursor: pointer;
    height: 35px;
}


th.th-yellow1 {
    background-color: #0F181F;
    color: #F7E014;
}


td.td-yellow1:hover {
    color: #2C3E56;
    font-size: 14px;
    background-color: #F7E014;
}

/* WILD RICE YELLOW */
th.th-yellow2, td.td-yellow2 {
    padding: 8px;
    text-align: left;
    border: 1px solid #EADCB6;
    cursor: pointer;
    height: 35px;
}

th.th-yellow2 {
    background-color: #ECD473;
    color: #0E0F39;
}

td.td-yellow2:hover {
    color: #F7B637;
    font-size: 14px;
    background-color: #F1F1F1;
}

/* BASIC YELLOW */
th.th-yellow4, td.td-yellow4 {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    cursor: pointer;
    height: 35px;
}

th.th-yellow4 {
    background-color: #FEF748;
    color: #0E0F39;
}

td.td-yellow4:hover {
    color: #000000;
    font-size: 14px;
    background-color: #F1F1F1;
}

/* YELLOW WITH BLUE HOVER */
th.th-yellow3, td.td-yellow3 {
    padding: 8px;
    text-align: left;
    border: 1px solid #205F95;
    cursor: pointer;
    height: 35px;
}

th.th-yellow3 {
    background-color: #EDCE59;
    color: #0E0F39;
}

td.td-yellow3:hover {
    color: #F7B637;
    font-size: 14px;
    background-color: #205F95;
}

/* BLUE-GREEN */
th.th-green1, td.td-green1 {
    padding: 8px;
    text-align: left;
    border: 1px solid #EDEAE5;
    cursor: pointer;
    height: 35px;
}

th.th-green1 {
    background-color: #016670;
    color: #ddd;
}

td.td-green1:hover {
    color: #000000;
    font-size: 14px;
    background-color: #9FEDD7;
}

/* BLACK AND MINT GREEN */
th.th-green2, td.td-green2 {
    padding: 8px;
    text-align: left;
    border: 1px solid #172526;
    cursor: pointer;
    height: 35px;
}

th.th-green2 {
    background-color: #172526;
    color: #5EC3AC;
}

td.td-green2:hover {
    color: #000000;
    font-size: 14px;
    background-color: #9FEDD7;
}

/* BASIC GREEN */
th.th-green3, td.td-green3 {
    padding: 8px;
    text-align: left;
    border: 1px solid #EDEAE5;
    cursor: pointer;
    height: 35px;
}

th.th-green3 {
    background-color: #1F6120;
    color: #ffffff;
}

td.td-green3:hover {
    color: #000000;
    font-size: 14px;
    background-color: #558a0f7a;
}

/* GREEN LEAFY */
th.th-green4, td.td-green4 {
    padding: 8px;
    text-align: left;
    border: 1px solid #2C5C2D;
    cursor: pointer;
    height: 35px;
}

th.th-green4 {
    background-color: #2C5C2D;
    color: #F7E077;
}

td.td-green4:hover {
    color: #000000;
    font-size: 14px;
    background-color: #558a0f7a;
}

/* GREEN WITH ORANGE HOVER */
th.th-green5, td.td-green5 {
    padding: 8px;
    text-align: left;
    border: 1px solid #10171F;
    cursor: pointer;
    height: 35px;
}

th.th-green5 {
    background-color: #016838;
    color: #F1F1F1;
}

td.td-green5:hover {
    color: #10171F;
    font-size: 14px;
    background-color: #d264048a;
}


/* BASIC VIOLET */
th.th-violet1, td.td-violet1 {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    cursor: pointer;
    height: 35px;
}

th.th-violet1 {
    background-color: #744EA4;
    color: #F1F1F1;
}

td.td-violet1:hover {
    color: #10171F;
    font-size: 14px;
    background-color: #754ea473;
}

/* VIOLET WITH YELLOW HOVER */
th.th-violet2, td.td-violet2 {
    padding: 8px;
    text-align: left;
    border: 1px solid #3C195A;
    cursor: pointer;
    height: 35px;
}

th.th-violet2 {
    background-color: #3C195A;
    color: #F1F1F1;
}

td.td-violet2:hover {
    color: #10171F;
    font-size: 14px;
    background-color: #FEF648;
}

/* VIOLET GRAPES */
th.th-violet3, td.td-violet3 {
    padding: 8px;
    text-align: left;
    border: 1px solid #332D4D;
    cursor: pointer;
    height: 35px;
}

th.th-violet3 {
    background-color: #1E0233;
    color: #F1F1F1;
}

td.td-violet3:hover {
    color: #10171F;
    font-size: 14px;
    background-color: #E0CCC6;
}

/* PINK */
th.th-pink1, td.td-pink1 {
    padding: 8px;
    text-align: left;
    border: 1px solid #332D4D;
    cursor: pointer;
    height: 35px;
}

th.th-pink1 {
    background-color: #1B1B19;
    color: #C8477C;
}

td.td-pink1:hover {
    color: #10171F;
    font-size: 14px;
    background-color: #E0CCC6;
}